.DS_Store
/config/database.yml
/config/redis.yml
*.rbc
*.sassc
.sass-cache
.ruby-version
.ruby-gemset
.rbenv-vars
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/schema.rb
/public/system/*
/public/assets/*
/public/uploads/*
/spec/tmp/*
/vendor/ruby
**.orig
rerun.txt
pickle-email-*.html
.rvmrc
*~
.rbenv-gemsets
.rbenv-version
